services:
  2025-autumn-aice:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - .:/project
    environment:
      REPO_ROOT: /project
      DATA_DIR: /project/data
      PYTHONPATH: /project/src
    shm_size: '16gb'
    # At least one of stdin_open or tty is required to make devcontainer work
    stdin_open: true
    tty: true