
name: Development Checks

on:
  # Trigger the workflow on push or pull request,
  # but only for the main or dev branches
  workflow_dispatch:
  pull_request:
    branches:
      - main
      - dev

jobs:
  linter:
    runs-on: ubuntu-latest
    steps:

      - name: Checkout Code Repository
        uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v3

      - name: Set up Python
        run: uv python install 3.12

      - name: Install Dependencies
        run: uv sync

      - name: Lint with pre-commit
        run: uv run pre-commit run --all-files
